@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-x: hidden;
    scrollbar-width: none;
  }
}

@layer components {
  .font-googly {
    font-family: var(--font-googly), system-ui, sans-serif;
  }
}
